* {
	box-sizing: border-box;
	font-family: sans-serif;
	margin: 0;
	padding: 0;
}

h1 {
		text-align: center;
	}

p {
	font-family: sans-serif;  
	margin: 50px 20px 20px 20px;

}


div#container1, div#container2, div#container3 { 
	background-color: grey;
	width: 30%;
	border: 3px solid black;
	margin: 20px;
	float: left;
	position: relative;	
}

#chicken, #beef, #sushi {
	font-size: 18px;
	font-weight: bold;
	padding: 5px;
	width: 100px;
	border: 3px solid black;
	text-align: center;
	float: right;
	
}

#chicken {
	background-color: #D59998;
	position: absolute;
	top: 0;
	right: 0;
}

#beef {
	background-color: #C14543;
}

#sushi{
	background-color: #E5D198;
}