* {
	font-family: sans-serif;
	margin: 0;
	padding: 0;
}

body {
	padding: 20px;
}

h1 {
		text-align: center;
		padding: 20px;
	}

p {
	font-family: sans-serif;  
	padding: 50px 15px 15px 15px;
	margin: 20px;
	background-color: grey;
	box-sizing: border-box;
	border: 3px solid black;

}


#container1, #container2, #container3 { 
	width: 33.33%;
	box-sizing: border-box;
	float: left;
}


#chicken, #beef, #sushi {
	font-size: 18px;
	font-weight: bold;
	padding: 5px;
	width: 100px;
	border: 3px black solid;
	text-align: center;
	box-sizing: content-box;
	position: relative;
	float: right;
	top: 20px;
	right: 20px;
}

#chicken {
	background-color: #D59998;
}

#beef {
	background-color: #C14543;
}

#sushi{
	background-color: #E5D198;
}

/*#container{
	border: 2px solid black;
	margin: auto;
	position: relative;
}

#container1{
	float: left;
}

#container3{
	float: right;
	position: absolute;
	top: 0;
	left: 0;
}
*/

@media ()












