* {
	font-family: sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	padding: 10px;
}

h1 {
		text-align: center;
		padding: 20px;
	}

p{
	font-family: sans-serif;  
	padding: 50px 15px 15px 15px;
	margin: 20px;
	background-color: grey;
	border: 3px solid black;
}

#chicken, #beef, #sushi {
	font-size: 18px;
	font-weight: bold;
	padding: 5px;
	width: 100px;
	border: 3px black solid;
	text-align: center;
	position: relative;
	float: right;
	top: 20px;
	right: 20px;
}

#chicken {
	background-color: #D59998;
}

#beef {
	background-color: #C14543;
}

#sushi{
	background-color: #E5D198;
}

/* Simple Responsive Framework. */
.row {
  width: 100%;
}

/********** Large devices only **********/
@media (min-width: 992px) {
  .col-lg-4 {
    float: left;
    width: 33.33%;
  }
}

/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6, .col-md-12 {
    float: left;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-12 {
    width: 100%;
  }
}

/********** Small devices only **********/
@media (max-width: 767px) {
  .col-sm-12{
    float: left;
    width: 100%;
  }
}












